<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.loxpanel.launcher"
    android:versionCode="4"
    android:versionName="4.0">

    <!-- target >= 24: Android 15 verweigert aeltere Apps bei der Installation -->
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
    <!-- Nutzungsstatistik: erkennt laufendes Fully (nach vorn holen statt neu laden).
         Kein Dialog - der Server erlaubt es per "appops set ... GET_USAGE_STATS allow". -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application android:label="LoxPanel" android:icon="@drawable/icon" android:allowBackup="false">
        <!-- Startbildschirm (HOME) mit zwei Symbolen: LoxPanel (Fully Kiosk) und
             dem urspruenglichen Startbildschirm (Shelly-Oberflaeche bzw. Android-
             Launcher), startet Fully nach 10 s selbst. Auf normalen Tablets reicht das App-Symbol. Als Home setzen:
             adb shell cmd package set-home-activity de.loxpanel.launcher/.Home -->
        <activity android:name=".Home"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Nur fuer adb: Fully direkt starten bzw. die Panel-URL speichern
             (Befehle siehe README). -->
        <activity android:name=".Main"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:exported="true" />
    </application>
</manifest>
